/* CSS STYLE SHEET */

body {
    font-family: arial;
    margin: 0;
    background-color: #eee;
}

#wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    background: #fff;
}

/* TOP/BOT BUTTONS */
#main-navigation {
    background: #000;
   // padding: 10px;
}

#main-navigation ul {
    text-align: right;
    list-style-type: none;
    margin-right: 10px;
}

#main-navigation li {
    display: inline-block;
    margin-left: 20px;
}

#main-navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#main-navigation a.current {
    background: #7a7a7a;
    border-radius: 4px;
    
}

#lead-banner img {
    width: 100%;
}
/* PHOTO AREA */

#image_area {
    margin: 0 auto;    
}

/* INDEX BUTTONS */
.panels{
  list-style-type: none;
  padding: 0;
}

.panels li{
  position: relative;
  width: 25%; 
  margin: 0;
  display: block;
  box-sizing: border-box;
  float: left;
}

.panels li div{
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0;
  cursor: pointer;
}


/* ANIMATION STYLES */

.panels div.back {
    transform: rotateY(90deg);
}

.panels div.front {
    position: absolute;
}

.panels li:hover div.front {
    animation: twirl 0.2s ease-in forwards;
}

.panels li:hover div.back {
    animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

@keyframes twirl{
    0% { transform: rotateY(0deg) }
    100% { transform:  rotateY(90deg) }
}